.DS_Store
*.resources
*.suo
*.user
*.sln.docstates
*.userprefs
/*.nupkg
.nuget/
[Bb]in/
[Bb]uild/
[Oo]bj/
[Oo]bj/
packages/*/
Packages/*/
packages.stable
artifacts/
# Roslyn cache directories
*.ide/
.vs/
TestResult.xml
