<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="automatic" value="False" />
  </packageRestore>
  <packageSources>
    <add key="AspNetVNext" value="https://www.myget.org/F/aspnetvnext/api/v3/index.json" />
    <add key="AspNetRelease" value="https://www.myget.org/F/aspnetrelease/api/v3/index.json" />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
