<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="SharpMap_Prerelease" value="https://pkgs.dev.azure.com/gcapnias/SharpMap/_packaging/SharpMap_Prerelease/nuget/v3/index.json" />
  </packageSources>  
  <packageRestore>
    <!--Allow NuGet to download missing packages -->
    <add key="enabled" value="True" />
    <!-- Automatically check for missing packages during build in Visual Studio -->
    <add key="automatic" value="True" />
  </packageRestore>
  <settings>
    <!-- <repositoryPath>..\packages</repositoryPath> -->
  </settings>
</configuration>
