<?xml version="1.0" encoding="ISO-8859-1" ?>
<configuration>
    <appSettings>
<!--
  -- Uncomment the following and modify to override the connection string to the test database.
  -- Note that protocol=3 or 2 is appended programmatically
  -- If you uncomment this, please do not commit changes upstream, optionally by running:
  -- git update-index --assume-unchanged App.config
  -->

<!--
        <add key="ConnectionStringBase" value="Server=localhost;User ID=npgsql_tests;Password=npgsql_tests;Database=npgsql_tests;syncnotification=false;" />
-->
    </appSettings>
</configuration>
