<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Server=127.0.0.1;Port=5432;User Id=npgsql_tests;Password=npgsql_tests;Database=npgsql_tests;Encoding=UNICODE;syncnotification=false;protocol=3" />
    <add key="ConnectionStringV2" value="Server=127.0.0.1;Port=5432;User Id=npgsql_tests;Password=npgsql_tests;Database=npgsql_tests;Encoding=UNICODE;syncnotification=false;protocol=2" />
  </appSettings>
  <connectionStrings>
    <add name="XmlTestContext" providerName="System.Data.EntityClient" connectionString="metadata=XmlModel\.;provider=Npgsql;provider connection string=&quot;server=127.0.0.1;database=modelXmlTest;user id=npgsql_tests;password=npgsql_tests;enlist=true;&quot;" />
    <add name="CodeFirstTestContext" connectionString="Server=localhost;port=5432;UserId=npgsql_tests;Password=npgsql_tests;Database=npgsql_tests;" providerName="Npgsql" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Npgsql"></remove>
      <add name="Npgsql Data Provider" invariant="Npgsql" description=".Net Framework Data Provider for Postgresql Server" type="Npgsql.NpgsqlFactory, Npgsql, Version=2.0.12.91, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />
    </DbProviderFactories>
  </system.data>
</configuration>