<footer>
  <div class="row"> 
    <div class="twelve columns">    
      <ul class="social-links">
        <li><a href="http://www.github.com/npgsql/npgsql"><i class="fa fa-github-square"></i></a></li>
        <li><a href="http://stackoverflow.com/tags/npgsql/info"><i class="fa fa-stack-overflow"></i></a></li>
        <li><a href="{{ "feed.xml" | prepend: site.baseurl }}"><i class="fa fa-rss"></i></a></li>
      </ul>                       
    </div>
        
    <p class="copyright">&copy; Copyright 2015 The Npgsql Development Team. &nbsp; Design by <a title="Styleshout" href="http://www.styleshout.com/">Styleshout</a>.</p>
        
  </div> <!-- End row -->

  <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#top"><i class="fa fa-chevron-up"></i></a></div>

</footer> <!-- End Footer-->

{% include js.html %}

