version: '3'

services:
  npgsql-dev:
    image: mcr.microsoft.com/dotnet/sdk:6.0
    volumes:
      - ..:/workspace:cached
    tty: true
    network_mode: host

  db:
    build: ./db
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
    volumes:
      - ./db/init-db.sh:/docker-entrypoint-initdb.d/init-db.sh
    ports: 
      - 5432:5432

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL:-pgadmin4@pgadmin.org}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD:-admin}
    volumes:
      - ./pgadmin4/servers.json:/pgadmin4/servers.json
      - ./pgadmin4/config_local.py:/pgadmin4/config_local.py
    ports:
      - 5050:80
    links:
      - db
