<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Server=127.0.0.1;Port=5432;User Id=npgsql_tests;Password=npgsql_tests;Database=npgsql_tests;Encoding=UNICODE;syncnotification=false;protocol=3;"/>
    <add key="ConnectionStringV2" value="Server=127.0.0.1;Port=5432;User Id=npgsql_tests;Password=npgsql_tests;Database=npgsql_tests;Encoding=UNICODE;syncnotification=false;protocol=2"/>
  </appSettings>
  <connectionStrings>
    <add name="XmlTestContext" providerName="System.Data.EntityClient" connectionString="metadata=XmlModel\.;provider=Npgsql;provider connection string=&quot;server=127.0.0.1;database=modelXmlTest;user id=npgsql_tests;password=npgsql_tests;enlist=true;&quot;"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
