<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <appSettings>
    <add key="ConnectionString" value="Server=127.0.0.1;Port=5432;User Id=npgsql_tests;Password=npgsql_tests;Database=npgsql_tests;Encoding=UNICODE;syncnotification=false;protocol=3"/>
    <add key="ConnectionStringV2" value="Server=127.0.0.1;Port=5432;User Id=npgsql_tests;Password=npgsql_tests;Database=npgsql_tests;Encoding=UNICODE;syncnotification=false;protocol=2"/>
  </appSettings>
</configuration>
