<?xml version="1.0" encoding="ISO-8859-1" ?>
<configuration>
    <appSettings>
        <add key="ConnectionString" value="Server=localhost;User ID=npgsql_tests;Password=npgsql_tests;Database=npgsql_tests;syncnotification=false;protocol=3" />
        <add key="ConnectionStringV2" value="Server=localhost;User ID=npgsql_tests;Password=npgsql_tests;Database=npgsql_tests;syncnotification=false;protocol=2" />
    </appSettings>
</configuration>
