<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Npgsql.EntityFramework"
                          publicKeyToken="5d8b90d52f46fda7"
                          culture="neutral" />
        <bindingRedirect oldVersion="2.0.0.0-2.0.14.1"
                         newVersion="2.0.14.2"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
