<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
{% include head.html %}

<body>

{% include header.html %}

<div id="content-wrap">
  <div class="row">
    <div id="main" role="main">
      {{ content }}
    </div>  <!-- /#main -->
  </div>  <!-- /#row -->
</div>  <!-- /#content-wrap -->

{% include footer.html %}

</body>

</html>
