---
layout: default
---
<div id="main" class="eight columns">

  <h1>{{ page.title }}</h1>
  <div class="content">

{{ content }}

  </div> <!-- .content -->

</div> <!-- #main -->

<div id="sidebar" class="four columns">

<p>
  <a href="/doc/index.html">Intro</a>
</p>

<p>
  <a href="/doc/migration-3.0.html">Migrating to 3.0</a>
</p>

<p>
  <a href="/doc/faq.html">FAQ</a>
</p>

<p>
  <a href="/doc/compatibility.html">Compatibility Notes</a>
</p>

<hr />

<p>
  <a href="/doc/connection-string-parameters.html">Connection String</a>
</p>

<p>
  <a href="/doc/security.html">Security and Encryption</a>
</p>

<p>
  <a href="/doc/datetime.html">Date and Time</a>
</p>

<p>
  <a href="/doc/continuous-processing.html">Asynchronous notifications and Continuous Processing</a>
</p>

<p>
  <a href="/doc/copy.html">Bulk Copy</a>
</p>

<p>
  <a href="/doc/large-objects.html">Large Objects</a>
</p>

<p>
  <a href="/doc/logging.html">Logging</a>
</p>

<hr />

<p>
  <a href="/doc/ef6.html">Entity Framework 6</a>
</p>

<p>
  <a href="/doc/ef7.html">Entity Framework 7</a>
</p>

<p>
  <a href="/doc/ddex.html">VS Integration</a>
</p>

<hr />

<p>
  <a href="/doc/dev.html">Developer Resources</a>
</p>


{% comment %}
{% for page in site.pages | sort: 'title' %}
{% capture url_start %}{{ page.url | truncate: 8 }}{% endcapture %}
{% if url_start == "/doc/..." %}
<p>
  <a href="{{ page.url }}">{{ page.title }}</a>
</p>
{% endif %}
{% endfor %}
{% endcomment %}

</div> <!-- #sidebar -->
