---
layout: default
---
<div id="main" class="eight columns">

  <div id="npgsql-about">
    <h2>About Npgsql</h2>
      Npgsql is the .NET data provider for PostgreSQL.
      It allows any program developed for .NET framework to access a PostgreSQL database server.
      It is implemented in 100% C# code. PostgreSQL versions since 9.0 are officially supported, others may work.
      <a href="about.html">Read more...</a>
  </div>

  <h2>Latest News</h2>
  <ul class="entry-list">
    {% for post in site.posts limit:5 %}  
    <li>
      <article class="entry">

        <header class="entry-header">
          <h3 class="entry-title">{{ post.title }}</h3>
          <div class="entry-meta">
     <ul>
              <li><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></li>
{% comment %}
              <span class="meta-sep">&bull;</span>								
              <li><a href="#" title="" rel="category tag">Ghost</a></li>
{% endcomment %}
              <span class="meta-sep">&bull;</span>
              <li>
                {% if site.data.members contains post.author %}
                  {{ site.data.members[post.author] }}
                {% else %}
                  {{ post.author }}
                {% endif %}
              </li>
            </ul>
          </div> 
        </header> 
					
        <div class="entry-content">
          {{ post.content }}
        </div> 

      </article>
    </li>
    {% endfor %}

  </ul>

  <a href="news.html">Click here for older announcements</a>

</div> <!-- #main -->

<div id="sidebar" class="four columns">

  <p>
    <a href="https://www.nuget.org/packages/Npgsql/">
      <img src="https://img.shields.io/nuget/v/Npgsql.svg?label=stable%20nuget" />
    </a>
  </p>

  <p>
    <img src="https://img.shields.io/myget/npgsql-unstable/v/npgsql.svg?label=unstable%20nuget" />
  </p>

  <p>
    <a href="http://build.npgsql.org/viewType.html?buildTypeId=npgsql&guest=1">
      <img src="https://img.shields.io/teamcity/http/build.npgsql.org/s/npgsql.svg?label=TeamCity" />
    </a>
  </p>

  <p>
    <a href="https://gitter.im/npgsql/npsgl">
      <img src="https://img.shields.io/badge/GITTER-JOIN%20CHAT-brightgreen.svg" />
    </a>
  </p>

</div> <!-- #sidebar -->
