<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
{% include head.html %}

<body>

{% include header.html %}

<div id="content-wrap">
  <div class="row">

    <div id="main" class="eight columns">

      <div id="npgsql-about">
        <h2>About Npgsql</h2>
        Npgsql is a .NET Data Provider for Postgresql. It allows any program developed for .Net framework to access database server. It is implemented in 100% C# code. Works with Postgresql 9.x and above. <a href="{{ "about" | prepend: site.baseurl }}">Read more...</a>
      </div>

      <h2>Latest News</h2>
      <ul class="entry-list">
        {% for post in site.posts limit:5 %}  
        <li>
          <article class="entry">

            <header class="entry-header">
              <h3 class="entry-title">{{ post.title }}</h3>
              <div class="entry-meta">
	        <ul>
                  <li><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></li>
{% comment %}
                  <span class="meta-sep">&bull;</span>								
                  <li><a href="#" title="" rel="category tag">Ghost</a></li>
{% endcomment %}
                  <span class="meta-sep">&bull;</span>
                  <li>
                    {% if site.data.members contains post.author %}
                      {{ site.data.members[post.author] }}
                    {% else %}
                      {{ post.author }}
                    {% endif %}
                  </li>
                </ul>
              </div> 
            </header> 
					
            <div class="entry-content">
              {{ post.content }}
            </div> 

          </article>
        </li>
        {% endfor %}

      </ul>

      <a href="{{ "news" | prepend: site.baseurl }}">Click here for older announcements</a>
    </div> <!-- end main -->

    <div id="sidebar" class="four columns">

      <h3>Build Status:</h3>
      <script type="text/javascript" src="http://build.npgsql.org/externalStatus.html?js=1"></script>

    </div> <!-- end sidebar -->

   	</div> <!-- end row -->

   </div> <!-- end content-wrap -->
   
{% include footer.html %}

</body>

</html>
