name: Rich Code Navigation

on:
  push:
    branches:
      - main
      - stable
    tags:
      - '*'

env:
  dotnet_sdk_version: '6.0.100-preview.3.21202.5'
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: NuGet Cache
        uses: actions/cache@v2.1.5
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/Directory.Build.targets') }}
          restore-keys: |
            ${{ runner.os }}-nuget-

      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v1.8.0
        with:
          dotnet-version: ${{ env.dotnet_sdk_version }}

      - name: Build
        run: dotnet build Npgsql.sln --configuration Debug
        shell: bash

      - name: Rich Navigation Indexing
        uses: microsoft/RichCodeNavIndexer@v0.1
        with:
          languages: csharp
          repo-token: ${{ github.token }}
