<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
  >
  <!--
  Usage:
    candle -dVER=2.2.0.0 -dEF=0 -ext WixUtilExtension NpgsqlSetup.wxs && light -ext WixUIExtension -ext WixUtilExtension NpgsqlSetup.wixobj -o Npgsql-2.2.0.0-KU20140725-a846e688.msi
    candle -dVER=2.2.0.0 -dEF=0 -ext WixUtilExtension NpgsqlSetup.wxs && light -ext WixUIExtension -ext WixUtilExtension NpgsqlSetup.wixobj -o Npgsql-2.2.0.0-KU20140825-8f70c8b7.msi
    
  Location: Npgsql\installer
  
  Folder structure:
    Npgsql-2.2.0.0-net45
    NpgsqlSetup.wxs
    README.rtf

  WiX Toolset:
    WiX Toolset v3.8 RTM build is v3.8.1128.0.
    WiX v3.9.721.0 Release  

    -->
  <Product Id="772a9e26-9ab8-4011-bce6-d95b19d22b57"
           Name="Npgsql $(var.VER)"
           Language="1033"
           Version="$(var.VER)"
           Manufacturer="You"
           UpgradeCode="df971e89-5e78-4142-9ed2-179c0255a800">
    <Package InstallerVersion="200"
             Compressed="yes"
             InstallScope="perMachine"
             ShortNames="no" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <MediaTemplate EmbedCab="yes" />

    <Feature Id="Npgsql45" 
          Title="Npgsql.dll (.NET4.5) to GAC" 
          Level="1" 
          Description=".Net Data Provider for PostgreSQL"
          Display="expand" >
      <ComponentRef Id="Npgsql45" />
      
      <Feature Id="Mono.Security40" 
             Title="Mono.Security.dll (4.0.0.0) to GAC" 
             Level="1" 
             Description="Mono.Security 4.0 created by Mono Project">
        <ComponentRef Id="Mono.Security40" />
      </Feature>
      
      <Feature Id="DbProviderFactory4" 
             Title="Edit machine.config" 
             Level="1" 
             Description="Register Npgsql as an ADO.NET Data Provider for PostgreSQL databases. &#x0a;Useful for Visual Studio 2012/2013, DDEX, and PowerQuery">
        <ComponentRef Id="DbProviderFactory4_x86" />
        <ComponentRef Id="DbProviderFactory4_x86_u" />
        <ComponentRef Id="DbProviderFactory4_x64" />
        <ComponentRef Id="DbProviderFactory4_x64_u" />
      </Feature>
    </Feature>

    <UIRef Id="WixUI_FeatureTree" />

    <WixVariable Id="WixUILicenseRtf" Value="README.rtf" />

    <!-- ICE Reference
          http://technet.microsoft.com/ja-jp/events/aa369206 
          -->
    <!-- http://blogs.msdn.com/b/heaths/archive/2006/09/20/installing-assemblies-for-runtime-and-design_2d00_time-use.aspx -->
    <!-- http://stackoverflow.com/questions/17090689/wix-deploy-two-assemblies-to-gac -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="Npgsql45" Name="GAC">
        <Component Id="Npgsql45" Guid="f842fa5e-5623-41aa-80aa-6d2e5bf97435">
          <File Id="Npgsql45"
                Name="Npgsql.dll"
                Source=".\Npgsql-$(var.VER)-net45\Npgsql.dll"
                KeyPath="yes"
                Assembly=".net" />
        </Component>
      </Directory>

      <Directory Id="Mono.Security40" Name="GAC">
        <Component Id="Mono.Security40" Guid="15efb59f-77a2-4aee-9ce8-6cfd2c3091b9">
          <File Id="Mono.Security40"
                Name="Mono.Security.dll"
                Source=".\Npgsql-$(var.VER)-net45\Mono.Security.dll"
                KeyPath="yes"
                Assembly=".net" />
          </Component>
      </Directory>

      <!-- http://stackoverflow.com/questions/791455/how-do-i-modify-machine-config-via-an-msi-package -->
      <!-- http://wixtoolset.org/documentation/manual/v3/xsd/util/xmlconfig.html -->
      
      <Component Id="DbProviderFactory4_x86" Guid="faf79467-d78b-4535-9f0f-86ff446a4294">
        
        <!-- add an 'remove' element -->
        <util:XmlConfig 
                    Id="Machine_Config4_Xml_RemoveElem"
                  File="[WindowsFolder]Microsoft.NET\Framework\v4.0.30319\CONFIG\machine.config"
                Action="create" 
                    On="install"
           ElementPath="//configuration/system.data/DbProviderFactories" 
                  Name="remove"
                  Node="element" 
              Sequence="1"> 
        </util:XmlConfig> 
        <!-- set 'invariant' attribute -->
        <util:XmlConfig 
                    Id="Machine_Config4_Xml_RemoveElem_Invariant"
                  File="[WindowsFolder]Microsoft.NET\Framework\v4.0.30319\CONFIG\machine.config"
             ElementId="Machine_Config4_Xml_RemoveElem"
                  Name="invariant"
                 Value="Npgsql" 
              Sequence="2"> 
        </util:XmlConfig>

        <!-- add an 'add' element -->
        <util:XmlConfig 
                    Id="Machine_Config4_Xml_AddElem"
                  File="[WindowsFolder]Microsoft.NET\Framework\v4.0.30319\CONFIG\machine.config"
                Action="create" 
                    On="install"
           ElementPath="//configuration/system.data/DbProviderFactories" 
                  Name="add"
                  Node="element" 
              Sequence="3"> 
        </util:XmlConfig> 
        <!-- set 'name' attribute -->
        <util:XmlConfig 
                    Id="Machine_Config4_Xml_AddElem_Name"
                  File="[WindowsFolder]Microsoft.NET\Framework\v4.0.30319\CONFIG\machine.config"
             ElementId="Machine_Config4_Xml_AddElem"
                  Name="name"
                 Value="Npgsql Data Provider" 
              Sequence="4"> 
        </util:XmlConfig>
        <!-- set 'invariant' attribute -->
        <util:XmlConfig 
                    Id="Machine_Config4_Xml_AddElem_Invariant"
                  File="[WindowsFolder]Microsoft.NET\Framework\v4.0.30319\CONFIG\machine.config"
             ElementId="Machine_Config4_Xml_AddElem"
                  Name="invariant"
                 Value="Npgsql" 
              Sequence="5"> 
        </util:XmlConfig>
        <!-- set 'description' attribute -->
        <util:XmlConfig 
                    Id="Machine_Config4_Xml_AddElem_Desc"
                  File="[WindowsFolder]Microsoft.NET\Framework\v4.0.30319\CONFIG\machine.config"
             ElementId="Machine_Config4_Xml_AddElem"
                  Name="description"
                 Value=".Net Data Provider for PostgreSQL" 
              Sequence="6"> 
        </util:XmlConfig>
        <!-- set 'type' attribute -->
        <util:XmlConfig 
                    Id="Machine_Config4_Xml_AddElem_Type"
                  File="[WindowsFolder]Microsoft.NET\Framework\v4.0.30319\CONFIG\machine.config"
             ElementId="Machine_Config4_Xml_AddElem"
                  Name="type"
                 Value="Npgsql.NpgsqlFactory, Npgsql, Version=$(var.VER), Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" 
              Sequence="7"> 
        </util:XmlConfig>

      </Component>

      <Component Id="DbProviderFactory4_x86_u" Guid="ea01fb71-40c8-4b54-bc7c-c8a8142e0a19">
        <!-- uninst: add 'remove' element -->
        <util:XmlConfig 
                    Id="Machine_Config4_Xml_Uninst_RemoveElem"
                  File="[WindowsFolder]Microsoft.NET\Framework\v4.0.30319\CONFIG\machine.config"
                Action="create" 
                    On="uninstall"
           ElementPath="//configuration/system.data/DbProviderFactories" 
                  Name="remove"
                  Node="element" 
              Sequence="1"> 
        </util:XmlConfig>
        <!-- set 'invariant' attribute -->
        <util:XmlConfig 
                    Id="Machine_Config4_Xml_Uninst_RemoveElem_Invariant"
                  File="[WindowsFolder]Microsoft.NET\Framework\v4.0.30319\CONFIG\machine.config"
             ElementId="Machine_Config4_Xml_Uninst_RemoveElem"
                  Name="invariant"
                 Value="Npgsql" 
              Sequence="2"> 
        </util:XmlConfig>
      </Component>

      <Component Id="DbProviderFactory4_x64" Guid="68e3c228-18c3-4481-8b02-088e3d0186ff">
        <Condition>VersionNT64</Condition>
        
        <!-- add an 'remove' element -->
        <util:XmlConfig 
                    Id="Machine_Config4_x64_Xml_RemoveElem"
                  File="[WindowsFolder]Microsoft.NET\Framework64\v4.0.30319\CONFIG\machine.config"
                Action="create" 
                    On="install"
           ElementPath="//configuration/system.data/DbProviderFactories" 
                  Name="remove"
                  Node="element" 
              Sequence="11"> 
        </util:XmlConfig> 
        <!-- set 'invariant' attribute -->
        <util:XmlConfig 
                    Id="Machine_Config4_x64_Xml_RemoveElem_Invariant"
                  File="[WindowsFolder]Microsoft.NET\Framework64\v4.0.30319\CONFIG\machine.config"
             ElementId="Machine_Config4_x64_Xml_RemoveElem"
                  Name="invariant"
                 Value="Npgsql" 
              Sequence="12"> 
        </util:XmlConfig>

        <!-- add an 'add' element -->
        <util:XmlConfig 
                    Id="Machine_Config4_x64_Xml_AddElem"
                  File="[WindowsFolder]Microsoft.NET\Framework64\v4.0.30319\CONFIG\machine.config"
                Action="create" 
                    On="install"
           ElementPath="//configuration/system.data/DbProviderFactories" 
                  Name="add"
                  Node="element" 
              Sequence="13"> 
        </util:XmlConfig> 
        <!-- set 'name' attribute -->
        <util:XmlConfig 
                    Id="Machine_Config4_x64_Xml_AddElem_Name"
                  File="[WindowsFolder]Microsoft.NET\Framework64\v4.0.30319\CONFIG\machine.config"
             ElementId="Machine_Config4_x64_Xml_AddElem"
                  Name="name"
                 Value="Npgsql Data Provider" 
              Sequence="14"> 
        </util:XmlConfig>
        <!-- set 'invariant' attribute -->
        <util:XmlConfig 
                    Id="Machine_Config4_x64_Xml_AddElem_Invariant"
                  File="[WindowsFolder]Microsoft.NET\Framework64\v4.0.30319\CONFIG\machine.config"
             ElementId="Machine_Config4_x64_Xml_AddElem"
                  Name="invariant"
                 Value="Npgsql" 
              Sequence="15"> 
        </util:XmlConfig>
        <!-- set 'description' attribute -->
        <util:XmlConfig 
                    Id="Machine_Config4_x64_Xml_AddElem_Desc"
                  File="[WindowsFolder]Microsoft.NET\Framework64\v4.0.30319\CONFIG\machine.config"
             ElementId="Machine_Config4_x64_Xml_AddElem"
                  Name="description"
                 Value=".Net Data Provider for PostgreSQL" 
              Sequence="16"> 
        </util:XmlConfig>
        <!-- set 'type' attribute -->
        <util:XmlConfig 
                    Id="Machine_Config4_x64_Xml_AddElem_Type"
                  File="[WindowsFolder]Microsoft.NET\Framework64\v4.0.30319\CONFIG\machine.config"
             ElementId="Machine_Config4_x64_Xml_AddElem"
                  Name="type"
                 Value="Npgsql.NpgsqlFactory, Npgsql, Version=$(var.VER), Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" 
              Sequence="17"> 
        </util:XmlConfig>
      </Component>

      <Component Id="DbProviderFactory4_x64_u" Guid="1a386d7f-8ef6-446a-a425-f4c551cd85b2">
        <Condition>VersionNT64</Condition>
        <!-- uninst: add 'remove' element -->
        <util:XmlConfig 
                    Id="Machine_Config4_x64_Xml_Uninst_RemoveElem"
                  File="[WindowsFolder]Microsoft.NET\Framework64\v4.0.30319\CONFIG\machine.config"
                Action="create" 
                    On="uninstall"
           ElementPath="//configuration/system.data/DbProviderFactories" 
                  Name="remove"
                  Node="element" 
              Sequence="18"> 
        </util:XmlConfig>
        <!-- set 'invariant' attribute -->
        <util:XmlConfig 
                    Id="Machine_Config4_x64_Xml_Uninst_RemoveElem_Invariant"
                  File="[WindowsFolder]Microsoft.NET\Framework64\v4.0.30319\CONFIG\machine.config"
             ElementId="Machine_Config4_x64_Xml_Uninst_RemoveElem"
                  Name="invariant"
                 Value="Npgsql" 
              Sequence="19"> 
        </util:XmlConfig>
      </Component>

    </Directory>
  </Product>
</Wix>
